:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
    box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  font-family: 'Rock Salt', cursive;
}

/* Nav------------------------------------------------------------------------- */

.nav__user-nav {
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-left: 5vw;
}

.nav__user-nav a{
  text-decoration: none;
}


.nav__user-nav--left {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.nav__user-nav--right {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.nav__logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
} 


.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .08; 
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
